runs/*
__pycache__/
yolo_checkpoint/*
archive/
prev*/
archive_runs/
trained*/
old_checkpoint/*
new_yolo_checkpoint/
ablation_study/*
data/stacked_segmentation/*
previous_ablation_study/ 
pretrained_detect_yolo/*
